<div>
  <div class="containerForm">

    <input type="email" placeholder="email" name="email" id="email" />
    <input type="password" placeholder="Contraseña" name="password" id="password" />
    <button id="send">Enviar</button>
    <button id="send" onclick="history.back()">Atrás</button>
  </div>

</div>